.tabs {
    height: 3vh;
    padding: 1em
}

.tab-button {
    width: 10vw;
    border-radius: 24px;
    padding: 0.4em;
    transition: ease-in-out 0.1s;
    margin-right: 0.2em;
    cursor: pointer;
}

.tab-button:hover {
    background-color: rgba(var(--accent-raw), 0.8);
    box-shadow: 0 0 12px 4px rgba(var(--accent-raw), 0.8);
    transition: ease-in-out 0.1s;
}

.tab-button-content {
    display: block;
    text-align: center;
    align-items: center;
}

.tab-button-active, 
.tab-button-active:hover {
    background-color: var(--accent)
}