.tabs {
    height: 3vh;
    padding: 1rem
}

.tab-button {
    width: 8rem;
    border-radius: 2px;
    border-bottom: 2px solid var(--bg-accent);
    padding: 0.4rem;
    transition: ease-in-out 0.1s;
    margin-right: 0.4rem;
    cursor: pointer;
}

.tab-button:hover {
    border-bottom: 2px solid var(--accent);
    transition: ease-in-out 0.1s;
}

.tab-button-content {
    display: block;
    text-align: center;
    align-items: center;
}

.tab-button-active, 
.tab-button-active:hover {
    border-bottom: 2px solid var(--accent);
}