.main {
    height: 100%;
}

.header {
    height: 12vh;
    padding: 2em 4em;
}

.subtitle {
    padding-left: 2em;
    font-style: italic;
}

.avatar {
    height:128px;
    width: 128px;
    border-radius: 80px;
    border: 4px solid white;
}