<div class="main flex flex-column align-center">
  <div class="container">
    <h2>Introduction</h2>
    <p class="ml-1">{{introduction()}}</p>
  </div>
  <div class="container">
    <h2>Work Experience</h2>
    <div class="flex-g flex-row">
      <div class="timeline"></div>
      <div class="flex-column flex">
        @for (work of workExperience(); track work.name) {
          <div class="work-container flex-column flex">
            <div class="flex-row flex align-center">
              <h3 class="pr-1">{{work.name}}</h3>
              <a class="pr-1 italic">{{work.startDate | date:'MMM yyyy'}} - {{work.endDate | date:'MMM yyyy'}}</a>
              <a class="italic">{{work.type}}</a>
            </div>
            <p class="description-container">{{work.description}}</p>
          </div>
        }
      </div>
    </div>
  </div>
  <div class="container">
    <h2>Skills</h2>
    <div class="flex flex-row align-center justify-center">
      <div (click)="prevSkillsPage()" class="skills-arrow">
        ←
      </div>
      <div class="skills-container flex-row flex align-center flex-wrap space-between">
        @for (skill of skills(); track skill.name) {
          <div class="skill-container flex-column align-center" [class]="skill.state">
            <a>{{skill.name}}</a>
            <star-rating class="skill-rating" [rating]="skill.rating"/>
          </div>
        }
      </div>
      <div (click)="nextSkillsPage()" class="skills-arrow">
        →
      </div>
    </div>
  </div>
  <div class="container">
    <h2>Qualifications</h2>
    <div class="flex flex-column">
      @for (qual of qualifications(); track qual.name) {
        <div class="qual-container">
          <div class="flex flex-row align-center">
            <h3 class="pr-1">{{qual.name}}</h3>
            <a class="italic">{{qual.date | date:'MMM yyyy'}}</a>
          </div>
          <p>{{qual.grade}}</p>
          <ul>
            @for (topic of qual.topics; track topic) {
              <li>{{topic}}</li>
            }
          </ul>
        </div>
      }
    </div>
  </div>
</div>